<!--full width Slider section start here-->
<div class="mg-slider-section">
    <div class="mg-slide d-flex align-items-center" style="background-image: url('assets/images/banner/mg-banner.jpg');">
        <div class='container mg-slider-text-box'>
            <div class="mg-slide-text">
                <span>I PHONE PRO</span>
                <h2>And then the pro comes</h2>
                
                <div class="mg-price mb-3">Starting from <span>20.000.000</span></div>             
            </div>
        </div>
        <div></div>
    </div>
</div>
<!--full width Slider section end here-->

<!--image with text overlay section start here-->
<div class="mg-img-overlay-section mg-section-padding mg-padding-lr">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mt-sm-3 mb-sm-3">
                <div class="mg-img-overlay-inner">
                    <div class="mg-img-box">
                        <img src="assets/images/overlay/mg-overlay-img.jpg" alt="">
                    </div>
                    <div class="mg-overlay-text">
                        <div>
                            <span>GET 50% OFF</span>
                            <h6>Apple Smart<br> Speaker</h6>
                        </div>
                        <div></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-sm-3 mb-sm-3">
                <div class="mg-img-overlay-inner">
                    <div class="mg-img-box">
                        <img src="assets/images/overlay/mg-overlay-img2.jpg" alt="">
                    </div>
                    <div class="mg-overlay-text">
                        <div>
                            <span>GET 50% OFF</span>
                            <h6>Apple Airpods<br> (2nd Gen)</h6>

                        </div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--image with text overlay section end here-->
<!--tabs section start here-->
<div class="mg-tabs-section mg-section-padding">
    <div class="container">
        <div class="mg-section-heading text-center">
            <h5>Products Of The Day</h5>
        </div>
        <div class="mg-tabs-box mt-3">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="Featured-tab" data-bs-toggle="tab" data-bs-target="#Featured" type="button" role="tab" aria-controls="Featured" aria-selected="true">FEATURED</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="Featured" role="tabpanel" aria-labelledby="Featured">
                    <div class="mg-tab-content">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4 col-sm-6 col-6">
                                    <div class="mg-tab-grid-box">
                                        <div class="mg-tab-img-box">
                                            <div class="mg-tabs-img">
                                                <a href="/Products/ProductDetails?id=1007"><img src="/./assets/images/products/note11pro.png" alt=""></a>
                                            </div>

                                            <div class="mg-atc-overlay">
                                                <a href="/Cart/Add/1007">
                                                    <div class="mg-cart-box">
                                                        ADD TO CART
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="mg-tab-text mt-3">
                                            <div class="mg-tab-text-top d-flex justify-content-between align-items-center">
                                                <div class="mg-small-heading">
                                                    <a class="text-decoration-none" href="/Products/ProductDetails?id=1007"><span>MOBILE</span></a>
                                                </div>
                                            </div>
                                            <a class="text-decoration-none" href="/Products/ProductDetails?id=1007"><h5>Redmi Note 11 Pro</h5></a>
                                            <div class="mg-pricing">7.600.000 <span><s>8.000.000</s></span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 col-6">
                                    <div class="mg-tab-grid-box">
                                        <div class="mg-tab-img-box">
                                            <div class="mg-tabs-img">
                                                <a href="/Products/ProductDetails?id=1003">
                                                    <img src="/./assets/images/products/redmi10a.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="mg-atc-overlay">
                                                <a href="/Cart/Add/1003">
                                                    <div class="mg-cart-box">
                                                        ADD TO CART
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="mg-tab-text mt-3">
                                            <div class="mg-tab-text-top d-flex justify-content-between align-items-center">
                                                <div class="mg-small-heading">
                                                    <a class="text-decoration-none" href="/Products/ProductDetails?id=1003"><span>MOBILE</span></a>
                                                </div>
                                            </div>
                                            <a class="text-decoration-none" href="/Products/ProductDetails?id=1003"><h5>Redmi 10A</h5></a>
                                            <div class="mg-pricing">2.500.000 <span><s>3.000.000</s></span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 col-6">
                                    <div class="mg-tab-grid-box">
                                        <div class="mg-tab-img-box">
                                            <div class="mg-tabs-img">
                                                <a href="/Products/ProductDetails?id=3006">
                                                    <img src="/./assets/images/products/SDPSamsung.png" alt="">
                                                </a>
                                            </div>
                                            <div class="mg-atc-overlay">
                                                <a href="/Cart/Add/3006">
                                                    <div class="mg-cart-box">
                                                        ADD TO CART
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="mg-tab-text mt-3">
                                            <div class="mg-tab-text-top d-flex justify-content-between align-items-center">
                                                <div class="mg-small-heading">
                                                    <a class="text-decoration-none" href="/Products/ProductDetails?id=3006"><span>POWER BANK</span></a>
                                                </div>
                                            </div>
                                            <a class="text-decoration-none" href="/Products/ProductDetails?id=3006"><h5>Power Bank Samsung 10000mAh</h5></a>
                                            <div class="mg-pricing">890.000 <span><s>1.000.000</s></span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 col-6">
                                    <div class="mg-tab-grid-box">
                                        <div class="mg-tab-img-box">
                                            <div class="mg-tabs-img">
                                                <a href="/Products/ProductDetails?id=3003">
                                                    <img src="/./assets/images/products/SacSS15W.png" alt="">
                                                </a>
                                            </div>
                                            <div class="mg-atc-overlay">
                                                <a href="/Cart/Add/3003">
                                                    <div class="mg-cart-box">
                                                        ADD TO CART
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="mg-tab-text mt-3">
                                            <div class="mg-tab-text-top d-flex justify-content-between align-items-center">
                                                <div class="mg-small-heading">
                                                    <a class="text-decoration-none" href="/Products/ProductDetails?id=3003"><span>CHARGER</span></a>
                                                </div>
                                            </div>
                                            <a class="text-decoration-none" href="/Products/ProductDetails?id=3003"><h5>Charger Samsung 15W</h5></a>
                                            <div class="mg-pricing">190.000<span><s>250.000</s></span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 col-6">
                                    <div class="mg-tab-grid-box">
                                        <div class="mg-tab-img-box">
                                            <div class="mg-tabs-img">
                                                <a href="/Products/ProductDetails?id=10">
                                                    <img src="/./assets/images/products/bugslive.jpeg" alt="">
                                                </a>
                                            </div>

                                            <div class="mg-atc-overlay">
                                                <a href="/Cart/Add/10">
                                                    <div class="mg-cart-box">
                                                        ADD TO CART
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="mg-tab-text mt-3">
                                            <div class="mg-tab-text-top d-flex justify-content-between align-items-center">
                                                <div class="mg-small-heading">
                                                    <a class="text-decoration-none" href="/Products/ProductDetails?id=10"><span>EARPHONES </span></a>
                                                </div>
                                            </div>
                                            <a class="text-decoration-none" href="/Products/ProductDetails?id=10"><h5>Galaxy Bugs Live</h5></a>
                                            <div class="mg-pricing">1.000.000 <span><s>1.250.000</s></span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 col-6">
                                    <div class="mg-tab-grid-box">
                                        <div class="mg-tab-img-box">
                                            <div class="mg-tabs-img">
                                                <a href="/Products/ProductDetails?id=40">
                                                    <img src="/./assets/images/products/MacbookPro2021.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="mg-atc-overlay">
                                                <a href="/Cart/Add/40">
                                                    <div class="mg-cart-box">
                                                        ADD TO CART
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="mg-tab-text mt-3">
                                            <div class="mg-tab-text-top d-flex justify-content-between align-items-center">
                                                <div class="mg-small-heading">
                                                    <a class="text-decoration-none" href="/Products/ProductDetails?id=40"><span>LAPTOP</span></a>
                                                </div>
                                            </div>
                                            <a class="text-decoration-none" href="/Products/ProductDetails?id=40"><h5>Macbook Pro 2021</h5></a>
                                            <div class="mg-pricing">43.990.000 <span><s>44.500.000</s></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
 
            </div>
        </div>
    </div>
</div>
<!--tabs section end here-->
<!--Container slider section start here-->
<div class="mg-container-fit-slider">
    <div class="container">
        <div class="mg-slider-section mg-padding-lr">
            <div class="mg-slide d-flex align-items-center" style="background-image: url('assets/images/banner/mg-small-slider.jpg');">
                <div class='container mg-slider-text-box'>
                    <div class="mg-slide-text">
                        <span>SUPER DEAL</span>
                        <h2>APPLE iPhone 13 Pro Max</h2>

                        <div class="mg-price mb-4 mb-sm-2"><span>25.290.000</span> <s>27.000.000</s></div>
                        <a class="mg-shop-btn btn btn-default" href="/Products/ProductDetails?id=29">SHOP NOW <i class="fa-solid fa-angle-right"></i></a>
                    </div>
                </div>
                <div></div>
            </div>
            <div class="mg-slide d-flex align-items-center" style="background-image: url('assets/images/banner/mg-small-slider.jpg');">
                <div class='container mg-slider-text-box'>
                    <div class="mg-slide-text">
                        <span>SUPER DEAL</span>
                        <h2>APPLE iPhone 13 Pro Max</h2>

                        <div class="mg-price mb-4 mb-sm-2"><span>25.290.000</span> <s>27.000.000</s></div>
                        <a class="mg-shop-btn btn btn-default" href="/Products/ProductDetails?id=29">SHOP NOW <i class="fa-solid fa-angle-right"></i></a>
                    </div>
                </div>
                <div></div>
            </div>
            <div class="mg-slide d-flex align-items-center" style="background-image: url('assets/images/banner/mg-small-slider.jpg');">
                <div class='container mg-slider-text-box'>
                    <div class="mg-slide-text">
                        <span>SUPER DEAL</span>
                        <h2>APPLE iPhone 13 Pro Max</h2>

                        <div class="mg-price mb-4 mb-sm-2"><span>25.290.000</span> <s>27.000.000</s></div>
                        <a class="mg-shop-btn btn btn-default" href="/Products/ProductDetails?id=29">SHOP NOW <i class="fa-solid fa-angle-right"></i></a>
                    </div>
                </div>
                <div></div>
            </div>
        </div>
    </div>
</div>
<!--Container slider section end here-->
<!--Text with background image and carousel section start here-->
<div class="mg-custome-section mg-section-padding2 mg-padding-lr">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mg-margin-tb">
                <div class="mg-text-bg-style1 mg-text-bg-image1">
                    <div class="mg-img-bg-text">
                        <div>
                            <span>TOP DEALS</span>
                            <h6>SAMSUNG 2023<br> G A L A X Y</h6>
                            <a class="btn btn-lg" href="/Products/ProductByBrand?brID=3">SHOP NOW  <i class="fa-solid fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 mg-margin-tb">
                <div class="mg-carousel">
                    <div class="mg-craousel-slide">
                        <div class="mg-tab-grid-box">
                            <div class="mg-tab-img-box">
                                <div class="mg-tabs-img">
                                    <a href="/Products/ProductDetails?id=4"><img src="/./assets/images/products/ZFlip4.png" alt=""></a>
                                </div>
                                <div class="mg-atc-overlay">
                                    <a href="/Cart/Add/4">
                                        <div class="mg-cart-box">
                                            ADD TO CART
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="mg-tab-text mt-3">
                                <div class="mg-tab-text-top d-flex justify-content-between align-items-center">
                                    <div class="mg-small-heading">
                                        <a class="text-decoration-none" href="/Products/ProductDetails?id=4"><span>MOBILE </span></a>
                                    </div>
                                </div>
                                <a class="text-decoration-none" href="/Products/ProductDetails?id=4">
                                    <h5> Galaxy Z Flip 4</h5>
                                </a>
                                <div class="mg-pricing">17.000.000 <span><s>20.000.000</s></span></div>
                            </div>
                        </div>
                    </div>
                    <div class="mg-craousel-slide">
                        <div class="mg-tab-grid-box">
                            <div class="mg-tab-img-box">
                                <div class="mg-tabs-img">
                                    <a href="/Products/ProductDetails?id=3004"><img src="/./assets/images/products/SacSS25W.jpg" alt=""></a>
                                </div>
                                <div class="mg-atc-overlay">
                                    <a href="/Cart/Add/3004">
                                        <div class="mg-cart-box">
                                            ADD TO CART
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="mg-tab-text mt-3">
                                <div class="mg-tab-text-top d-flex justify-content-between align-items-center">
                                    <div class="mg-small-heading">
                                        <a class="text-decoration-none" href="/Products/ProductDetails?id=3004"><span>CHARGER</span></a>
                                    </div>
                                </div>
                                <a class="text-decoration-none" href="/Products/ProductDetails?id=3004"><h5>Charger Samsung 25W</h5></a>
                                <div class="mg-pricing">390.000 <span><s>500.000</s></span></div>
                            </div>
                        </div>
                    </div>
                    <div class="mg-craousel-slide">
                        <div class="mg-tab-grid-box">
                            <div class="mg-tab-img-box">
                                <div class="mg-tabs-img">
                                    <a href="/Products/ProductDetails?id=7"><img src="/./assets/images/products/s22ultra.png" alt=""></a>
                                </div>
                                <div class="mg-atc-overlay">
                                    <a href="/Cart/Add/7">
                                        <div class="mg-cart-box">
                                            ADD TO CART
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="mg-tab-text mt-3">
                                <div class="mg-tab-text-top d-flex justify-content-between align-items-center">
                                    <div class="mg-small-heading">
                                        <a class="text-decoration-none" href="/Products/ProductDetails?id=7"><span>MOBILE</span></a>
                                    </div>
                                </div>
                                <a class="text-decoration-none" href="/Products/ProductDetails?id=7"><h5>Galaxy S22 Ultra 5G</h5></a>
                                <div class="mg-pricing">20.000.000 <span><s>22.500.000</s></span></div>
                            </div>
                        </div>
                    </div>
                    <div class="mg-craousel-slide">
                        <div class="mg-tab-grid-box">
                            <div class="mg-tab-img-box">
                                <div class="mg-tabs-img">
                                    <a href="/Products/ProductDetails?id=3006"><img src="/./assets/images/products/SDPSamsung.png" alt=""></a>
                                </div>
                                <div class="mg-atc-overlay">
                                    <a href="/Cart/Add/3006">
                                        <div class="mg-cart-box">
                                            ADD TO CART
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="mg-tab-text mt-3">
                                <div class="mg-tab-text-top d-flex justify-content-between align-items-center">
                                    <div class="mg-small-heading">
                                        <a class="text-decoration-none" href="/Products/ProductDetails?id=3006"><span>POWER BANK</span></a>
                                    </div>

                                </div>
                                <a class="text-decoration-none" href="/Products/ProductDetails?id=3006"><h5>Power Bank Samsung 10000mAh</h5></a>
                                <div class="mg-pricing">890.000 <span><s>1.000.000</s></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Text with background image and carousel section end here-->

<!--small banner section start here-->
<div class="mg-small-banner-section mg-padding-lr">
    <div class="mg-small-banner-text-outer">
        <div class="container">
            <div class="mg-small-banner-text-inner">
                <span>GRAND SALE</span>
                <h6>APPLE iPhone</h6>

                <a class="btn btn-lg" href="/Products/ProductByBrand?brID=1">SHOP NOW <i class="fa-solid fa-angle-right"></i></a>
            </div>
        </div>
    </div>
</div>
<!--small banner section end here-->
