
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--page header start here-->
<div class="mg-page-header-section3 mg-page-header-style">
    <div class="mg-page-header-inner">
        <div class="container">
            <div class="mg-page-header-text">
                <div class="mg-page-header-heading">
                    <h3>Latest Blogs</h3>
                </div>
                <div class="mg-breadcrumb">
                    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a class="text-decoration-none" href="index.html">Home</a></li>
                            <li class="breadcrumb-item active">blogs</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!--page header end here-->
<!--blogs section start here-->
<div class="mg-blogs-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                <div class="mg-blogs-grid-box">
                    <div class="mg-text-bg-style3 mg-text-bg-image4">
                        <div class="mg-img-bg-text">
                            <div>
                                <span>AUGUST 22, 2022</span>
                                <span class="mg-comment-on-img">0 COMMENT</span>
                                <h6>Lorem Ipsum is simply dummy text of the printing.</h6>
                                <a class="btn btn-lg" href="single-blog.html">READ MORE  <i class="fa-solid fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                <div class="mg-blogs-grid-box">
                    <div class="mg-text-bg-style4">
                        <div class="mg-img-bg-text">
                            <div>
                                <span>AUGUST 22, 2022</span>
                                <span class="mg-comment-on-img">0 COMMENT</span>
                                <h6>Lorem Ipsum is simply dummy text of the printing.</h6>
                                <a class="btn btn-lg" href="single-blog.html">READ MORE  <i class="fa-solid fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                <div class="mg-blogs-grid-box">
                    <div class="mg-text-bg-style4">
                        <div class="mg-img-bg-text">
                            <div>
                                <span>AUGUST 22, 2022</span>
                                <span class="mg-comment-on-img">0 COMMENT</span>
                                <h6>Lorem Ipsum is simply dummy text of the printing.</h6>
                                <a class="btn btn-lg" href="single-blog.html">READ MORE  <i class="fa-solid fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                <div class="mg-blogs-grid-box">
                    <div class="mg-text-bg-style4">
                        <div class="mg-img-bg-text">
                            <div>
                                <span>AUGUST 22, 2022</span>
                                <span class="mg-comment-on-img">0 COMMENT</span>
                                <h6>Lorem Ipsum is simply dummy text of the printing.</h6>
                                <a class="btn btn-lg" href="single-blog.html">READ MORE  <i class="fa-solid fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                <div class="mg-blogs-grid-box">
                    <div class="mg-text-bg-style4">
                        <div class="mg-img-bg-text">
                            <div>
                                <span>AUGUST 22, 2022</span>
                                <span class="mg-comment-on-img">0 COMMENT</span>
                                <h6>Lorem Ipsum is simply dummy text of the printing.</h6>
                                <a class="btn btn-lg" href="single-blog.html">READ MORE  <i class="fa-solid fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                <div class="mg-blogs-grid-box">
                    <div class="mg-text-bg-style3 mg-text-bg-image4">
                        <div class="mg-img-bg-text">
                            <div>
                                <span>AUGUST 22, 2022</span>
                                <span class="mg-comment-on-img">0 COMMENT</span>
                                <h6>Lorem Ipsum is simply dummy text of the printing.</h6>
                                <a class="btn btn-lg" href="single-blog.html">READ MORE  <i class="fa-solid fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--blogs section end here-->
<!--pagination section start here-->
<div class="mg-pagination-section">
    <div class="container">
        <div class="mg-pagination-inner">
            <nav>
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="javascript:void(0);" aria-label="Previous">
                            <span class="mg-font-style" aria-hidden="true"><i class="fa-solid fa-chevron-left"></i></span>
                        </a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="javascript:void(0);">1</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
                    <li class="page-item">
                        <a class="page-link" href="javascript:void(0);" aria-label="Next">
                            <span class="mg-font-style" aria-hidden="true"><i class="fa-solid fa-chevron-right"></i></span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<!--pagination section end here-->
<!--Feature section 2 start here-->
<div class="mg-feature-section-style2 mg-padding-lr">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 col-sm-6 mt-4 mg-feature-service">
                <div class="mg-feature-box">
                    <div class="card">
                        <div class="card-body text-center">
                            <img src="assets/images/icons/Icon-material-payment.svg" alt="">
                            <h6 class="card-title">Worldwide Delivery</h6>
                            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 col-sm-6 mt-4 mg-feature-service">
                <div class="mg-feature-box">
                    <div class="card">
                        <div class="card-body text-center">
                            <img src="assets/images/icons/Icon-feather-shopping-bag.svg" alt="">
                            <h6 class="card-title">24/7 Help Center</h6>
                            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 col-sm-6 mt-4 mg-feature-service">
                <div class="mg-feature-box">
                    <div class="card">
                        <div class="card-body text-center">
                            <img src="assets/images/icons/delivery-truck.svg" alt="">
                            <h6 class="card-title">Secure Checkout</h6>
                            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 col-sm-6 mt-4 mg-feature-service">
                <div class="mg-feature-box">
                    <div class="card">
                        <div class="card-body text-center">
                            <img src="assets/images/icons/Icon-ionic-ios-timer.svg" alt="">
                            <h6 class="card-title">30 Days Return</h6>
                            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Feature section 2 end here-->