@{
    ViewData["Title"] = "Index";
}

@if (User.Identity.IsAuthenticated)
{
    @if (User.IsInRole("Administrator"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}
else
{
    <h1>Please go to <a href="/Account/Login">Log in Page</a></h1>
}
