@model Contact
@{
    ViewData["Title"] = "ContactHomepage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--page header start here-->
<div class="mg-page-header-section8 mg-page-header-style">
    <div class="mg-page-header-inner">
        <div class="container">
            <div class="mg-page-header-text">
                <div class="mg-page-header-heading">
                    <h3>Contact</h3>
                </div>
                <div class="mg-breadcrumb">
                    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a class="text-decoration-none" href="index.html">Home</a></li>
                            <li class="breadcrumb-item active">Contact</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!--page header end here-->
<!--contact us section start here-->
@using (Html.BeginForm())
{
    <div class="mg-contact-us-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-12">
                    <div class="mg-contact-information-section">
                        <div class="mg-contact-info-inner">
                            <div class="mg-contact-info-heading">
                                <h5>Contact Information</h5>
                            </div>
                            <div class="mg-contact-info-content">
                                <h5>Address</h5>
                                <div><span> 141 Điện Biên Phủ, Phường 15, Quận Bình Thạnh<br>TP.HCM VN</span></div>
                            </div>
                            <div class="mg-contact-info-content">
                                <h5>Phone Number</h5>
                                <div><span>Mobile: +(1) 234 567 8900</span></div>
                                <div><span>Fax: +(1) 234 567 8900</span></div>
                            </div>
                            <div class="mg-contact-info-content">
                                <h5>Email Address</h5>
                                <div><a href="#"><span>cuongbh20@uef.edu.vn</span></a></div>
                                <div><a href="#"><span>tuanmpa20@uef.edu.vn</span></a></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-7 col-md-7 col-sm-12">
                    <div class="mg-get-in-touch-form-section">
                        <div class="mg-git-form-heading">
                            <h5>FeedBack</h5>
                            <div>
                                <p>

                                </p>

                            </div>
                        </div>
                        <form asp-controller="Contacts" asp-action="ContactHomepage" class="mg-contact-form">
                            <div class="mg-form-main">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6">

                                        <input type="hidden" asp-for="UserID" class="form-control" value="@ViewBag.UserID">
                                        <input type="hidden" asp-for="CreatedDate" class="form-control" value="@ViewData["Date"]">
                                        <div class="mg-form-input-field">
                                            <label asp-for="UserPhone" class="control-label"></label>
                                            <input asp-for="UserPhone" class="form-control" />
                                            <span asp-validation-for="UserPhone" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-15 col-md-15 col-sm-15">
                                        <div class="mg-form-textarea">
                                            <label asp-for="Content" class="control-label"></label>
                                            <input asp-for="Content" class="form-control" />
                                            <span asp-validation-for="Content" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="mg-form-submit-btn">
                                    <button type="submit" class="btn">SEND</button>
                                </div>
                            </div>
                        </form>
                        <div class="alert-msg" style="display:none;">
                            <div class="mt-2 alert alert-success alert-dismissible fade show" role="alert">
                                Email sent successfully.
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}